/* Contenedor principal */
.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Encabezado */
.header {
    background-color: var(--color-header);
    padding: 10px;
    color: var(--color-blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    color: var(--color-blanco);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;

}

.header img {
    height: 40px;
}

.header .user-menu {
    position: relative;
    display: inline-block;
}

.header .user-menu button {
    border: none;
    color: var(--color-blanco);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-icon {
    margin-right: 8px;
}

.arrow {
    margin-left: 5px;
    transform: rotate(0deg);
    font-size: 16px;
    margin-right: 30px;
}

.header .user-menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--color-blanco);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header .user-menu-content a {
    color: var(--color-texto);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .user-menu-content a:hover {
    background-color: var(--color-fondo);
}

/* Mostrar menú al hacer hover */
.header .user-menu:hover .user-menu-content {
    display: block;
}

/* Título principal */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--color-texto);
    animation: fadeIn 2s;
}

/* Estilo de tarjetas */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 180px;
    height: 180px;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--color-gris-oscuro);
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card span {
    margin-top: 10px;
    display: block;
}

/* Efecto al pasar el ratón sobre la tarjeta */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo del pie de página */
footer {
    padding: 20px;
    background-color: var(--color-texto);
    color: var(--color-blanco);
    text-align: center;
    font-size: 0.9rem;
    position: relative;
}

footer p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    70% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}